{"openapi":"3.0.0","info":{"title":"Fal Queue API","version":"1.0.0","description":"The Fal Queue API."},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"TryonInput":{"title":"Input","type":"object","properties":{"adjust_hands":{"title":"Adjust Hands","type":"boolean","description":"Allow to change the appearance of the model’s hands. Example use-cases: Remove gloves, get hands out of pockets, long sleeves that should cover hands.","default":false},"nsfw_filter":{"title":"Nsfw Filter","type":"boolean","description":"Runs NSFW content filter on inputs.","default":true},"restore_clothes":{"title":"Restore Clothes","type":"boolean","description":"Apply additional steps to preserve the appearance of clothes that weren’t swapped (e.g. keep pants if trying-on top).","default":false},"garment_photo_type":{"enum":["auto","model","flat-lay"],"title":"Garment Photo Type","type":"string","description":"Specifies the type of garment photo to optimize internal parameters for better performance. 'model' is for photos of garments on a model, 'flat-lay' is for flat-lay or ghost mannequin images, and 'auto' attempts to automatically detect the photo type.","default":"auto"},"cover_feet":{"title":"Cover Feet","type":"boolean","description":"Allows long garments to cover the feet/shoes or change their appearance.","default":false},"garment_image":{"title":"Garment Image","type":"string","description":"URL or base64 of the garment image"},"guidance_scale":{"minimum":1.5,"maximum":3,"type":"number","title":"Guidance Scale","description":"Higher guidance scales can help with preserving garment detail, but risks oversaturated colors.","default":2},"model_image":{"title":"Model Image","type":"string","description":"URL or base64 of the model image"},"restore_background":{"title":"Restore Background","type":"boolean","description":"Apply additional steps to preserve the original background. Runtime will be slower. Not needed for simple backgrounds.","default":false},"category":{"enum":["tops","bottoms","one-pieces"],"title":"Category","type":"string","description":"Category of the garment to try-on."},"num_samples":{"minimum":1,"maximum":4,"type":"integer","title":"Num Samples","description":"Number of images to generate in a single run. Image generation has a random element in it, so trying multiple images at once increases the chances of getting a good result.","default":1},"timesteps":{"minimum":10,"maximum":50,"type":"integer","title":"Timesteps","description":"Determines how many steps the diffusion model will take to generate the image. For simple try-ons, steps can be reduced for faster runtime.","default":50},"long_top":{"title":"Long Top","type":"boolean","description":"Adjusts internal parameters for better performance on long tops such as: Longline shirts, tunics, coats, etc.","default":false},"seed":{"minimum":0,"maximum":4294967295,"type":"integer","title":"Seed","description":"Sets random operations to a fixed state. Use the same seed to reproduce results with the same inputs, or different seed to force different results.","default":42}},"x-fal-order-properties":["model_image","garment_image","category","garment_photo_type","nsfw_filter","cover_feet","adjust_hands","restore_background","restore_clothes","long_top","guidance_scale","timesteps","seed","num_samples"],"required":["model_image","garment_image","category"]},"TryonOutput":{"title":"Output","type":"object","properties":{"images":{"title":"Images","type":"array","description":"URLs of the generated images","items":{"$ref":"#/components/schemas/Image"}}},"x-fal-order-properties":["images"],"required":["images"]},"Image":{"title":"Image","type":"object","properties":{"file_size":{"title":"File Size","type":"integer","description":"The size of the file in bytes."},"height":{"title":"Height","type":"integer","description":"The height of the image in pixels."},"url":{"title":"Url","type":"string","description":"The URL where the file can be downloaded from."},"width":{"title":"Width","type":"integer","description":"The width of the image in pixels."},"file_name":{"title":"File Name","type":"string","description":"The name of the file. It will be auto-generated if not provided."},"content_type":{"title":"Content Type","type":"string","description":"The mime type of the file."},"file_data":{"format":"binary","title":"File Data","type":"string","description":"File data"}},"description":"Represents an image file.","x-fal-order-properties":["url","content_type","file_name","file_size","file_data","width","height"],"required":["url"]}}},"paths":{"/fashn/tryon/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fashn/tryon/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/fashn/tryon":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TryonInput"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fashn/tryon/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TryonOutput"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}